@import url(chrome://global/skin/);
@import url(squares.css);
@import url(hexagons.css);
@import url(triangles.css);

#sidepanel {
	background: black;
	color: white;
	font-weight: bold;
}
#sidepanel vbox {
	margin-bottom: 8px;
}
#next-block-display {
	margin: 10px;
}
