@import url(chrome://global/skin/);


#box-main {
  background: #111;
}
#box-info {
  color: white;
  font-weight: bold;
}
#next-block-display {
  margin: 10px;
}

#blocks-sqr, #blocks-hex, #blocks-tri { list-style-image: url(icons.png); }
#blocks-sqr { -moz-image-region: rect(0 18px 16px 0); }
#blocks-tri { -moz-image-region: rect(0 36px 16px 18px); }
#blocks-hex { -moz-image-region: rect(0 54px 16px 36px); }

#box-main {
  -moz-box-orient: horizontal;
}
#box-info {
  -moz-box-orient: vertical;
}

#box-main[nextblockhidden] {
  -moz-box-orient: vertical;
}

#box-main[nextblockhidden] #box-info {
  -moz-box-orient: horizontal;
}

.message {
  background: #111;
  color: white;
  border: 1px solid #111;
  -moz-border-radius: 5px;
  padding: 3px;
  font-size: 1.5em;
  margin: 100px 20px 0;
  text-align: center;
}



/* Square tiles */
.square-grid { list-style-image: url(squares.png); }
.square-0 { -moz-image-region: rect(0px 20px 20px 0px); }
.square-1 { -moz-image-region: rect(0px 40px 20px 20px); }
.square-2 { -moz-image-region: rect(0px 60px 20px 40px); }
.square-3 { -moz-image-region: rect(0px 80px 20px 60px); }
.square-4 { -moz-image-region: rect(0px 100px 20px 80px); }
.square-5 { -moz-image-region: rect(0px 120px 20px 100px); }
.square-6 { -moz-image-region: rect(0px 140px 20px 120px); }
.square-7 { -moz-image-region: rect(0px 160px 20px 140px); }
.square-8 { -moz-image-region: rect(20px 20px 40px 0px); }
.square-9 { -moz-image-region: rect(20px 40px 40px 20px); }
.square-10 { -moz-image-region: rect(20px 60px 40px 40px); }
.square-11 { -moz-image-region: rect(20px 80px 40px 60px); }
.square-12 { -moz-image-region: rect(20px 100px 40px 80px); }
.square-13 { -moz-image-region: rect(20px 120px 40px 100px); }
.square-14 { -moz-image-region: rect(20px 140px 40px 120px); }
.square-15 { -moz-image-region: rect(20px 160px 40px 140px); }
.square-16 { -moz-image-region: rect(40px 20px 60px 0px); }
.square-17 { -moz-image-region: rect(40px 40px 60px 20px); }
.square-18 { -moz-image-region: rect(40px 60px 60px 40px); }
.square-19 { -moz-image-region: rect(40px 80px 60px 60px); }
.square-20 { -moz-image-region: rect(40px 100px 60px 80px); }
.square-21 { -moz-image-region: rect(40px 120px 60px 100px); }
.square-22 { -moz-image-region: rect(40px 140px 60px 120px); }
.square-23 { -moz-image-region: rect(40px 160px 60px 140px); }
.square-24 { -moz-image-region: rect(60px 20px 80px 0px); }
.square-25 { -moz-image-region: rect(60px 40px 80px 20px); }
.square-26 { -moz-image-region: rect(60px 60px 80px 40px); }
.square-27 { -moz-image-region: rect(60px 80px 80px 60px); }
.square-28 { -moz-image-region: rect(60px 100px 80px 80px); }
.square-29 { -moz-image-region: rect(60px 120px 80px 100px); }
.square-30 { -moz-image-region: rect(60px 140px 80px 120px); }
.square-31 { -moz-image-region: rect(60px 160px 80px 140px); }




/* Hexagonal tiles */

.hex-grid {
  list-style-image: url(hexagons.png);
  /* counteract negative margin */
  padding-left: 4px;
}
.hex-grid > vbox { margin-left: -4px; }

.gridlines .hex-top-0  { -moz-image-region: rect(0 19px 8px 0); }
.gridlines .hex-btm-0 { -moz-image-region: rect(8px 19px 16px 0); }
.hex-top-0 { -moz-image-region: rect(0 38px 8px 19px); }
.hex-btm-0 { -moz-image-region: rect(8px 38px 16px 19px); }
.hex-top-1 { -moz-image-region: rect(0 57px 8px 38px); }
.hex-btm-1 { -moz-image-region: rect(8px 57px 16px 38px); }
.hex-top-2 { -moz-image-region: rect(0 76px 8px 57px); }
.hex-btm-2 { -moz-image-region: rect(8px 76px 16px 57px); }
.hex-top-3 { -moz-image-region: rect(0 95px 8px 76px); }
.hex-btm-3 { -moz-image-region: rect(8px 95px 16px 76px); }
.hex-top-4 { -moz-image-region: rect(0 114px 8px 95px); }
.hex-btm-4 { -moz-image-region: rect(8px 114px 16px 95px); }
.hex-top-5 { -moz-image-region: rect(0 133px 8px 114px); }
.hex-btm-5 { -moz-image-region: rect(8px 133px 16px 114px); }
.hex-top-6 { -moz-image-region: rect(0 152px 8px 133px); }
.hex-btm-6 { -moz-image-region: rect(8px 152px 16px 133px); }
.hex-top-7 { -moz-image-region: rect(0 171px 8px 152px); }
.hex-btm-7 { -moz-image-region: rect(8px 171px 16px 152px); }
.hex-top-8 { -moz-image-region: rect(0 190px 8px 171px); }
.hex-btm-8 { -moz-image-region: rect(8px 190px 16px 171px); }
.hex-top-9 { -moz-image-region: rect(0 209px 8px 190px); }
.hex-btm-9 { -moz-image-region: rect(8px 209px 16px 190px); }
.hex-top-10 { -moz-image-region: rect(0 228px 8px 209px); }
.hex-btm-10 { -moz-image-region: rect(8px 228px 16px 209px); }




/* Triangular tiles */

.tri-grid {
  list-style-image: url(triangles.png);
  padding-top: 12px;
}

.tri { margin-top: -10px; }

.gridlines .tri-left-0  { -moz-image-region: rect(126px 21px 147px 0); }
.gridlines .tri-right-0 { -moz-image-region: rect(126px 42px 147px 21px); }
.tri-left-0  { -moz-image-region: rect(147px 21px 168px 0); }
.tri-right-0 { -moz-image-region: rect(147px 42px 168px 21px); }

.tri-left-1  { -moz-image-region: rect(0 21px 21px 0); }
.tri-right-1 { -moz-image-region: rect(0 42px 21px 21px); }
.tri-left-2  { -moz-image-region: rect(21px 21px 42px 0); }
.tri-right-2 { -moz-image-region: rect(21px 42px 42px 21px); }
.tri-left-3  { -moz-image-region: rect(42px 21px 63px 0); }
.tri-right-3 { -moz-image-region: rect(42px 42px 63px 21px); }
.tri-left-4  { -moz-image-region: rect(63px 21px 84px 0); }
.tri-right-4 { -moz-image-region: rect(63px 42px 84px 21px); }
.tri-left-5  { -moz-image-region: rect(84px 21px 105px 0); }
.tri-right-5 { -moz-image-region: rect(84px 42px 105px 21px); }
.tri-left-6  { -moz-image-region: rect(105px 21px 126px 0); }
.tri-right-6 { -moz-image-region: rect(105px 42px 126px 21px); }
