.square-grid { list-style-image: url(squares.png); }
.square-0 { -moz-image-region: rect(0px 20px 20px 0px); }
.square-1 { -moz-image-region: rect(0px 40px 20px 20px); }
.square-2 { -moz-image-region: rect(0px 60px 20px 40px); }
.square-3 { -moz-image-region: rect(0px 80px 20px 60px); }
.square-4 { -moz-image-region: rect(0px 100px 20px 80px); }
.square-5 { -moz-image-region: rect(0px 120px 20px 100px); }
.square-6 { -moz-image-region: rect(0px 140px 20px 120px); }
.square-7 { -moz-image-region: rect(0px 160px 20px 140px); }
.square-8 { -moz-image-region: rect(20px 20px 40px 0px); }
.square-9 { -moz-image-region: rect(20px 40px 40px 20px); }
.square-10 { -moz-image-region: rect(20px 60px 40px 40px); }
.square-11 { -moz-image-region: rect(20px 80px 40px 60px); }
.square-12 { -moz-image-region: rect(20px 100px 40px 80px); }
.square-13 { -moz-image-region: rect(20px 120px 40px 100px); }
.square-14 { -moz-image-region: rect(20px 140px 40px 120px); }
.square-15 { -moz-image-region: rect(20px 160px 40px 140px); }
.square-16 { -moz-image-region: rect(40px 20px 60px 0px); }
.square-17 { -moz-image-region: rect(40px 40px 60px 20px); }
.square-18 { -moz-image-region: rect(40px 60px 60px 40px); }
.square-19 { -moz-image-region: rect(40px 80px 60px 60px); }
.square-20 { -moz-image-region: rect(40px 100px 60px 80px); }
.square-21 { -moz-image-region: rect(40px 120px 60px 100px); }
.square-22 { -moz-image-region: rect(40px 140px 60px 120px); }
.square-23 { -moz-image-region: rect(40px 160px 60px 140px); }
.square-24 { -moz-image-region: rect(60px 20px 80px 0px); }
.square-25 { -moz-image-region: rect(60px 40px 80px 20px); }
.square-26 { -moz-image-region: rect(60px 60px 80px 40px); }
.square-27 { -moz-image-region: rect(60px 80px 80px 60px); }
.square-28 { -moz-image-region: rect(60px 100px 80px 80px); }
.square-29 { -moz-image-region: rect(60px 120px 80px 100px); }
.square-30 { -moz-image-region: rect(60px 140px 80px 120px); }
.square-31 { -moz-image-region: rect(60px 160px 80px 140px); }
