@import url(chrome://global/skin/);


#box-main {
  background: #111;
}
#box-info {
  color: white;
  font-weight: bold;
}
#next-block-display {
  margin: 10px;
}

#blocks-sqr, #blocks-hex, #blocks-tri { list-style-image: url(icons.png); }
#blocks-sqr { -moz-image-region: rect(0 18px 16px 0); }
#blocks-tri { -moz-image-region: rect(0 36px 16px 18px); }
#blocks-hex { -moz-image-region: rect(0 54px 16px 36px); }

#box-main {
  -moz-box-orient: horizontal;
}
#box-info {
  -moz-box-orient: vertical;
}

#box-main[nextblockhidden] {
  -moz-box-orient: vertical;
}

#box-main[nextblockhidden] #box-info {
  -moz-box-orient: horizontal;
}

#grid-container {
  position: relative;
  overflow: hidden;
}

.message-wrapper {
  position: absolute;
}

.message {
  background: #111;
  color: white;
  border: 1px solid #111;
  -moz-border-radius: 5px;
  padding: 3px;
  font-size: 1.5em;
  margin: 100px 20px 0;
  text-align: center;
}

#falling-block {
  position: absolute;
}

canvas {
  display: block;
}
