#main {
  background: #111;
}

#sidebar, #grid-container {
  display: inline-block;
  vertical-align: top;
}

#sidebar {
  width: 100px;
}

#sidebar h6,
#sidebar div {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  margin: 0 0 4px;
}

#sidebar div {
  margin-bottom: 16px;
}


#grid-container {
  position: relative;
  overflow: hidden;
}

.message-wrapper {
  position: absolute;
  display: none;
}

.message {
  background: #111;
  color: white;
  border: 1px solid #111;
  -moz-border-radius: 5px;
  padding: 3px;
  font-size: 1.5em;
  margin: 100px 20px 0;
  text-align: center;
}

#falling-block {
  position: absolute;
}

canvas {
  display: block;
}
